@import url('https://fonts.googleapis.com/css2?family=Anton&family=Passion+One&family=Syne:wght@700&family=Ubuntu:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif+Malayalam&display=swap');


/* ------ global ------ */
:root {
    --primary-color: #3F497F;
    --secondary-color: #F8F5E4;
    --tertiary: #F7C04A;
    --font-size: 16px;
}

* {
    color: black;    /* testing */
    font-family: 'Noto Serif Malayalam', serif;
}

body {
    background-color: var(--primary-color) !important;
    overflow-x: hidden;
}

#title {
    color: var(--secondary-color);
    font-family: 'Bungee', cursive;
    font-size: 35px;
}

/* ------ nav bar ------ */
.navbar-logo {
    height: 80px;
    max-width: 100%;
}

.study-logo {
    height: 25px;
    max-width: 100%;
}

.btn {
    margin-right: 10px;
    background: var(--tertiary);
}

.heading {
    font-family: 'Bebas Neue', cursive;
    font-size: 75px;
    display: flex;
    justify-content: center;
    color: var(--secondary-color);
}

/* ------ landing page ------ */
.landing-container {
    background-size: 100% auto;
    background: url('./images/landing-image-full.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding: 130px;
}

.landing-middle {
    padding: 5%;
}

.landing-images {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.landing-text {
    color: var(--secondary-color);
}

/* ------ sign up page ------ */
.signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------ study page components ------ */
.flashcard-container {
    height: 500px;
}

.flashcard {
    height: 300px;
}

.flashcard-text {
    /* color: var(--primary-color); */
    margin-top: 25%;
    display: flex;
    justify-content: center;
}

/* ------ modal ------ */

.modal-text {
    color: var(--primary-color);
    font-family: 'Bungee', cursive;
    font-size: 20px;
}

/* ------ deck components ------ */
.deck{
    margin-left: 30px;    
}
.deck-row{
    display: flex;
    flex-wrap: wrap;
}
.deck-text{
    margin-top: 60px;
}
.deck-btn{
    text-decoration: none;
}
/* ------ card components ------ */
.new-card-text{
    margin-top: 130px;
}
.card-page-text {
    /* color: var(--primary-color); */
    display: flex;
    justify-content: center;
}
#study-btn{
    margin: 10px;
    display: flex;
    justify-content: center;
}
/* ------ footer component ------ */
.footer{
  bottom: 0;
  width: 100%;
}

/* ---- page title ----- */
.page-title {
    color: var(--tertiary);
    font-family: 'Bungee', cursive;
    font-size: 35px;
}