@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Passion+One&family=Syne:wght@700&family=Ubuntu:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif+Malayalam&display=swap');

.navbar-logo {
    height: 80px;
    margin-right: 10px;
    max-width: 100%;
}
#links{
    color: #F8F5E4;
}
a{
    text-decoration: none;
}
#title {
    color: #F8F5E4;
    font-family: 'Anton', sans-serif;
    font-size: 35px;
}
.heading{
    font-family: 'Bebas Neue', cursive;
    font-size: 75px;
    display: flex;
    justify-content: center;
}
* {
    background-color: #3F497F;
    color: #F8F5E4;
    font-family: 'Noto Serif Malayalam', serif;


}